# 2020 - 07 - 10 | Exam

## Ex. 4 - Choropleth map

In [1]:
import pandas as pd

covid = pd.read_csv('covid.csv')

covid

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp
0,05/07/2020,5,7,2020,348,7,Afghanistan,AF,AFG,38041757.0,Asia
1,04/07/2020,4,7,2020,302,12,Afghanistan,AF,AFG,38041757.0,Asia
2,03/07/2020,3,7,2020,186,33,Afghanistan,AF,AFG,38041757.0,Asia
3,02/07/2020,2,7,2020,319,28,Afghanistan,AF,AFG,38041757.0,Asia
4,01/07/2020,1,7,2020,279,13,Afghanistan,AF,AFG,38041757.0,Asia
...,...,...,...,...,...,...,...,...,...,...,...
27826,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa
27827,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa
27828,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa
27829,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa
27830,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa

In [3]:
month = covid['month'].unique().tolist() # get months

year = covid['year'].unique().tolist() # get years

america = covid[covid['continentExp'] == 'America']

countries = america['countriesAndTerritories'].unique().tolist() # get all countries in america's continent

america_2020 = america[america['year'] == 2020] # get only rows that refer to year 2020
america_2020.set_index('countriesAndTerritories', inplace=True) # reset indexes

In [5]:
brazil = america_2020.loc['Brazil']
brazil[brazil['month'] == 7]['cases'].sum() # get cases in brazil in july

brazil

,dateRep,day,month,year,cases,deaths,geoId,countryterritoryCode,popData2019,continentExp
countriesAndTerritories,,,,,,,,,,
Brazil,05/07/2020,5,7,2020,37923,1091,BR,BRA,211049519.0,America
Brazil,04/07/2020,4,7,2020,42223,1290,BR,BRA,211049519.0,America
Brazil,03/07/2020,3,7,2020,48105,1252,BR,BRA,211049519.0,America
Brazil,02/07/2020,2,7,2020,46712,1038,BR,BRA,211049519.0,America
Brazil,01/07/2020,1,7,2020,33846,1280,BR,BRA,211049519.0,America
...,...,...,...,...,...,...,...,...,...,...
Brazil,05/01/2020,5,1,2020,0,0,BR,BRA,211049519.0,America
Brazil,04/01/2020,4,1,2020,0,0,BR,BRA,211049519.0,America
Brazil,03/01/2020,3,1,2020,0,0,BR,BRA,211049519.0,America
Brazil,02/01/2020,2,1,2020,0,0,BR,BRA,211049519.0,America
Brazil,01/01/2020,1,1,2020,0,0,BR,BRA,211049519.0,America