# Data Visualization Lab - Sebastiano Cassol - id: 229318
> 12 - 06 - 2020

## Exercise 1
(...)

## Exercise 2
(...)

## Exercise 3
Choropleth map of a geographical region (Europe, Asia, etc.) displaying one (or more) of the columns (HDI.Rank, HDI, CPI) from `economist_data.csv`.

In [2]:
# import 
import pandas as pd

In [12]:
data = pd.read_csv("../economist_data.csv")

data

         Country  HDI.Rank    HDI  CPI             Region
0    Afghanistan       172  0.398  1.5       Asia Pacific
1        Albania        70  0.739  3.1  East EU Cemt Asia
2        Algeria        96  0.698  2.9               MENA
3         Angola       148  0.486  2.0                SSA
4      Argentina        45  0.797  3.0           Americas
..           ...       ...    ...  ...                ...
168      Vanuatu       125  0.617  3.5       Asia Pacific
169    Venezuela        73  0.735  1.9           Americas
170        Yemen       154  0.462  2.1               MENA
171       Zambia       164  0.430  3.2                SSA
172     Zimbabwe       173  0.376  2.2                SSA

[173 rows x 5 columns]

In [4]:
# transform the country column to index
# data = data.set_index('Country')
# data

             HDI.Rank    HDI  CPI             Region
Country
Afghanistan       172  0.398  1.5       Asia Pacific
Albania            70  0.739  3.1  East EU Cemt Asia
Algeria            96  0.698  2.9               MENA
Angola            148  0.486  2.0                SSA
Argentina          45  0.797  3.0           Americas
...               ...    ...  ...                ...
Vanuatu           125  0.617  3.5       Asia Pacific
Venezuela          73  0.735  1.9           Americas
Yemen             154  0.462  2.1               MENA
Zambia            164  0.430  3.2                SSA
Zimbabwe          173  0.376  2.2                SSA

[173 rows x 4 columns]

In [13]:
# retrieve the list of countries
countries = data.Country.unique().tolist()

## Exercise 4
(...)

## Exercise 5
(...)

## Exercise 6
(...)